= search_form_for @search, :remote=>"true", url: orders_path, :method => :get do |f|
  %table.table.table-striped.table-bordered.table-condensed.table-hover
    %thead
      %tr
        %th.order_name_header_col
          = sort_link @search, :name, get_label("order", "name"), {}, { :remote => true, :method => :get }
        %th.order_order_definition_name_header_col
          = sort_link @search, :order_definition_name, get_label("order", "order_definition"), {}, { :remote => true, :method => :get }
        %th.order_manufacturer_name_header_col
          = sort_link @search, :manufacturer_name, get_label("order", "manufacturer"), {}, { :remote => true, :method => :get }
        %th.order_source_name_header_col
          = sort_link @search, :source_name, get_label("order", "source"), {}, { :remote => true, :method => :get }
        %th.order_level_type_name_header_col
          = sort_link @search, :level_type_name, get_label("order", "level_type"), {}, { :remote => true, :method => :get }
        %th.action_col= t("basic.action")
      %tr
        %th= f.text_field :name_cont
        %th= f.text_field :order_definition_name_cont
        %th= f.text_field :manufacturer_name_cont
        %th= f.text_field :source_name_cont
        %th= f.text_field :level_type_name_cont
        %th= render  partial: 'shared/search_button_group'
    %tbody
      - @order.each do |order|
      %table.table.table-striped.table-bordered.table-condensed.table-hover
        %thead
          %tr
            %th.order_name_header_col= sort_link @search, :name, get_label("order", "name"), {}, { :remote => true, :method => :get }
            %th.order_order_definition_name_header_col= sort_link @search, :order_definition_name, get_label("order", "order_definition"), {}, { :remote => true, :method => :get }
            %th.order_manufacturer_name_header_col= sort_link @search, :manufacturer_name, get_label("order", "manufacturer"), {}, { :remote => true, :method => :get }
            %th.order_source_name_header_col= sort_link @search, :source_name, get_label("order", "source"), {}, { :remote => true, :method => :get }
            %th.order_level_type_name_header_col= sort_link @search, :level_type_name, get_label("order", "level_type"), {}, { :remote => true, :method => :get }
            %th.action_col= t("basic.action")
          %tr
            %th= f.text_field :name_cont
            %th= f.text_field :order_definition_name_cont
            %th= f.text_field :manufacturer_name_cont
            %th= f.text_field :source_name_cont
            %th= f.text_field :level_type_name_cont
            %th= render partial: 'shared/search_button_group'
        %tbody
          %tr
            %td.order_name_body_col= order.try(:name)
            %td.order_order_definition_body_col= order.order_definition.try(:name)
            %td.order_manufacturer_body_col= order.manufacturer.try(:name)
            %td.order_source_body_col= order.source.try(:name)
            %td.order_level_type_body_col= order.level_type.try(:name)
            %td
              .btn-group
                %a.btn.dropdown-toggle.btn-primary.action-btn{"data-toggle" => "dropdown", :href => "#"}
                  = t('basic.action')
                %ul.dropdown-menu
                  %li= link_to t('basic.show.simple'), order
                  %li= link_to t('basic.edit.simple'), edit_order_path(order)
                  %li= link_to t('basic.destroy.simple'), order, method: :delete, data: { confirm: 'Are you sure?' }
              / button group
      = paginate @order
