%h3
  Orders

.row.mb-20
  .col-xs-6
    Search Form:
    %br/
    = search_form_for @search do |f|
      = f.condition_fields do |c|
        .row.mb-10
          = c.attribute_fields do |a|
            .col-xs-3.form-group
              = a.attribute_select nil, class: 'form-control'
          .col-xs-3.form-group
            = c.predicate_select({only: [:cont, :lteq, :gteq]}, {class: 'form-control'})
          = c.value_fields do |v|
            .col-xs-6
              = v.text_field :value, class: 'form-control'
      = f.submit class: 'btn btn-primary'
      = link_to "Reset Search", orders_path

.row
  .col-xs-12
    %table.table.table-striped.orders
      %tr
        %th.number= sort_link @search, :number, "Number"
        %th.state= sort_link @search, :state, "State"
        %th.user_name= sort_link @search, :user_name, "User"
        %th.user_email= sort_link @search, :user_email, "Email"
      - @orders.each do |order|
        %tr
          %td.number
            = link_to order.number.to_s, order_path(order.number)
          %td.state{:class => order.state}= order.state.capitalize
          %td.user_name= order.user.name
          %td.user_email= order.user.email
    = paginate @orders